ALWAYS_SEARCH_USER_PATHS = NO
ARCHS = $(ARCHS_STANDARD)
CLANG_CXX_LANGUAGE_STANDARD = c++17
CLANG_CXX_LIBRARY = libc++
CONFIGURATION_BUILD_DIR = ./../output/mac/$(AI_CONFIGURATION)
CONFIGURATION_TEMP_DIR = $(PROJECT_TEMP_DIR)/Default
DSTROOT = /tmp/$(PRODUCT_NAME).dst
EXPORTED_SYMBOLS_FILE = 
FRAMEWORK_SEARCH_PATHS = 
LIBRARY_SEARCH_PATHS = 
GCC_DEBUGGING_SYMBOLS = full
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_INPUT_FILETYPE = sourcecode.cpp.objcpp
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = ../common/includes/IllustratorSDK$(AI_CONFIGURATION).pch
GCC_VERSION=com.apple.compilers.llvm.clang.1_0
GCC_WARN_ABOUT_MISSING_PROTOTYPES = NO
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_UNUSED_VARIABLE = YES
GENERATE_PKGINFO_FILE = YES
HEADER_SEARCH_PATHS = ../../illustratorapi/ate ../../illustratorapi/illustrator ../../illustratorapi/illustrator/actions ../../illustratorapi/pica_sp /Developer/Headers/FlatCarbon ../common/includes Source
INFOPLIST_FILE = ../common/mac/Info.plist
INFOPLIST_PREFIX_HEADER = ../common/includes/SDKDef.h
INFOPLIST_PREPROCESS = YES
MACOSX_DEPLOYMENT_TARGET[arch=arm64] = 11.0
MACOSX_DEPLOYMENT_TARGET[arch=x86_64] = 10.15
OBJROOT = $(PROJECT_DIR)/build
ONLY_LINK_ESSENTIAL_SYMBOLS = YES
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO
PRESERVE_DEAD_CODE_INITS_AND_TERMS = YES
PRODUCT_BUNDLE_IDENTIFIER = com.adobe.illustrator.plugins.$(PRODUCT_NAME)
PRODUCT_NAME = $(PROJECT_NAME)
REZ_SEARCH_PATHS = Resources/raw Resources/Mac ../common/mac
SCAN_ALL_SOURCE_FILES_FOR_INCLUDES = YES
SDKROOT = macosx
SHARED_PRECOMPS_DIR = ./../output/mac/sharedprecompiledheaders/$(AI_CONFIGURATION)
SYMROOT = ../output/mac/$(AI_CONFIGURATION)
WRAPPER_EXTENSION = aip
